extends ../layout

block content
  .col-sm-12.col-sm-offset-2
    You were successfully logged out.

// HS event
script.
    var _hsq = window._hsq = window._hsq || [];
    _hsq.push(["trackEvent", {id: "000000535600", value: null}]);
    console.log('Event was logged')
