extends ../layout

block content
  img(src='https://www.biglytics.net/hs-fs/hubfs/Biglytics_Assets/biglytics_light_grey-01.png?t=1455029392916')
  hr
  .row
    .col-sm-3
    .col-sm-9
      h2 You were logged out successfully.
      p
      p Thanks for using BigLytics
  .row
    .col-sm-3
    .col-sm-9
      p
      p
      p
        a.btn.btn-default(href='https://www.biglytics.net/blog', role='button') Read our blog »
