footer
  .container.text-center
    p.pull-left © 2016 HubSpot. Some Rights Reserved.
    ul.pull-right.list-inline
      li
        a(href='https://github.com/DubSpot-SE/biglytics') GitHub Project
      li
        a(href='https://github.com/DubSpot-SE/biglytics/issues') Issues
