extends layout

block content
  .page-header
    h3 Contact Form

        script(charset='utf-8' type='text/javascript' src='http://js.hsforms.net/forms/v2.js')
        script.
            hbspt.forms.create({portalId: '1976760',formId: '90ddbce2-acee-42ad-9969-563ffd5cf708'})
