extends layout

block content
  .page-header
    h3 Your Dashboards

    Jade:3
    1| d3.selectAll("p").style("color", function() {
    2|   return "hsl(" + Math.random() * 360 + ",100%,50%)";
  > 3| });

Unexpected character ; expected ` `, `\n`, `,`, `!` or `=`
