extends layout

block content
  h1 BigLytics
  p.lead Your home of analytical analysation.
  hr
  .row
    .col-sm-6
      h2 Welcome to BigLytics
      p Biglytics is a big data analytics company providing data analytics services to medium sized businesses. On the main website is a link to a customer portal where users can create an account, manage account settings and access data analytics reports that can be downloaded.
      p
        a.btn.btn-default(href='/signup', role='button') Sign up »
    .col-sm-6
      h2 Who are we?
      p Biglytics provides big data analytics services to medium sized businesses who generally don’t have the quantity of data necessary for useful insights. Through proprietary data analysis techniques, Biglytics mines massive data sets within specific industries for insights to help medium sized business that lack the resources of enterprises.
      p
        a.btn.btn-default(href='https://www.biglytics.net/blog', role='button') Read our blog »
